spring-debug/src/main/resources/META-INF/spring-custom.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.gbolg.org/schema/beans/spring-custom">

	<element name="customTag">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
		</complexType>
	</element>
</schema>
